* {
    background-color: black;
    font-family: Didot;
    text-align: center;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    color: white;
}

.home {
    height: 70px;
}

.container {
    height: 500px;
    width: 700px;
    margin: auto;
    padding: 10px;
}

.bar {
    height: 100px;
    margin: auto;
    padding: 10px;
}

img {
    height: 300px;
    width: auto;
}

li {
    list-style-type: none;
    float: left;
}

a {
    display: block;
    padding: 8px;
    font-size: 24px;
    font-weight: 300px;
    text-decoration: none;
}

nav {
    display: block;
}

i {
    color: #ff5f1f;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
    color: #ffc000;
}

h3 {
    font-size: 35px;
    color: #ff5f1f;
}

p {
    font-size: 20px;
}

button {
    color: white;
    border: none;
    background-color: #ff5f1f;
    padding: 15px 32px;
    font-size: 30px;
}
